body {
	font-family: 'Roboto Slab', sans-serif;
}

h1, h2, h3 {
	font-family: 'Staatliches', serif;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 15px;
}

p {
	font-size: 13px;
}

a, i.fa {
	transition: all .3s ease-in-out;
}



.bg-gray {
	background: #494947;
}

.bg-cream {
	background: #fff6ed;
}

i.fa, i.fas {
	color: white;
	font-size: 1.5em !important;
}

.fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 25%;
}

.middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all .2s ease-in;
}

.hover-link img, i {
	transition: all .2s ease-in;
}
.hover-link:hover img, i:hover {
	transform: translateY(-10px);
	transition: all .3s ease-in-out;
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

@media screen and (min-width: 660px) {
	h2 {
		font-size: 45px;
	}
	h3 {
		font-size: 35px;
	}
	p {
		font-size: 16px;
	}
}
@media screen and (min-width: 1024px) {
	p {
		font-size: 20px;
	}
}